# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment Variables & Secrets
.env
*.env

# Local Storage, Vector DB, SQLite & Uploads
data/
chroma_db_store/
*.db
*.sqlite
*.sqlite3

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
